<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:class="form-group + ${#fields.hasErrors(name) ? ' error' : ''}" th:fragment="inputField(placeholder, name, value, inputType)">

    <div class="col-sm-4">
        <div class="input-group">
            <span class="input-group-addon transparent"><span class="glyphicon glyphicon-user"></span></span>
            <input th:type="${inputType}" th:name="${name}" th:value="${value}" th:attr="placeholder=${placeholder}" class="form-control left-border-none"/>
        </div>
    </div>

    <div class="col-sm-7">
        <ul>
            <li th:each="err : ${#fields.errors(name)}" th:text="${err}">error</li>
        </ul>
    </div>

</div>

</html>