<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/headTag :: headTag"></head>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader">bodyHeader</div>

<div class="jumbotron">
    <div class="container">
        <div th:if="${not #lists.isEmpty(param.message)}">
            <div class="message" th:text="${#messages.msg(param.message)}">message</div>
        </div>
        <br/>
        <div class="shadow">
            <div class="view-box">
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-9">
                        <div class="panel panel-default">
                            <div class="panel-footer text-right">
                                <form action="search">
                                    <div class="form-group">
                                        <input type="text" name="searchLine" id="searchLine" class="form-control"
                                               th:attr="placeholder=#{app.search}" th:value="${searchLine}" th:required="required"/>
                                    </div>
                                    <div class="panel-footer text-right">
                                        <button type="submit" class="btn btn-primary">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        </button>
                                        <a class="btn btn-danger" type="button"
                                           onclick="window.location.href='contacts'">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary" type="button" href="new">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span th:text="#{contacts.add}"></span>
                </a>

                <form action="contacts" method="post" id="contactForm">
                    <input type="hidden" id="idContact" name="idContact"/>
                    <input type="hidden" id="action" name="action"/>

                    <table class="table table-striped display" id="datatable">
                        <thead>
                        <tr>
                            <th th:text="#{app.lastName}">lastName</th>
                            <th th:text="#{app.firstName}">firstName</th>
                            <th th:text="#{app.middleName}">middleName</th>
                            <th th:text="#{app.mobilePhone}">mobilePhone</th>
                            <th th:text="#{app.homePhone}">homePhone</th>
                            <th th:text="#{app.address}">address</th>
                            <th th:text="#{app.email}">email</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tr th:each="contact : ${contactList}" class="${classSucess}">
                            <td th:text="${contact.lastName}">Last Name</td>
                            <td th:text="${contact.firstName}">First Name</td>
                            <td th:text="${contact.middleName}">Middle Name</td>
                            <td th:text="${contact.mobilePhone}">Mobile Phone</td>
                            <td th:text="${contact.homePhone}">Home Phone</td>
                            <td th:text="${contact.address}">Address</td>
                            <td th:text="${contact.email}">Email</td>
                            <td>
                                <a class="btn btn-xs btn-primary" type="button" id="edit"
                                   th:onclick="'window.location.href=\'/update-' + ${contact.id} + '-contact\''">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-xs btn-danger" type="button"
                                   th:onclick="'window.location.href=\'/delete-' + ${contact.id} + '-contact\''">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </td>
                        </tr>
                    </table>
                    </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>