<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/headTag :: headTag"></head>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader">bodyHeader</div>

<div class="jumbotron">
    <div class="container">
        <div class="shadow">
            <h2 th:text="#{${isNew} ? 'details.addTitle' : 'details.editTitle'}">Add or edit</h2>

            <div class="view-box">
                <form action="#" th:object="${contact}" class="form-horizontal" method="post" th:action="${isNew} ? '/new' : '/update'"
                      charset="utf-8" accept-charset="UTF-8">

                    <input type="hidden" name="id" id="id" th:value="*{id}"/>

                    <div th:replace="fragments/inputField :: inputField('lastName', *{lastName}, 'text', 'user')"></div>
                    <div th:replace="fragments/inputField :: inputField('firstName', *{firstName}, 'text', 'user')"></div>
                    <div th:replace="fragments/inputField :: inputField('middleName', *{middleName}, 'text', 'user')"></div>
                    <div th:replace="fragments/inputField :: inputField('mobilePhone', *{mobilePhone}, 'text', 'phone')"></div>
                    <div th:replace="fragments/inputField :: inputField('homePhone', *{homePhone}, 'text', 'phone-alt')"></div>
                    <div th:replace="fragments/inputField :: inputField('address', *{address}, 'text', 'map-marker')"></div>
                    <div th:replace="fragments/inputField :: inputField('email', *{email}, 'text', 'envelope')"></div>

                    <div class="form-group">
                        <div class="col-xs-10">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                            <a class="btn btn-danger" type="button" onclick="window.location.href='contacts'">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>