<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/headTag :: headTag"></head>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader">bodyHeader</div>

<div class="jumbotron">
    <div class="container">
        <div class="shadow">
            <h2 th:text="#{app.register}">register</h2>

            <div class="view-box">
                <form action="#" th:object="${user}" class="form-horizontal" method="post" th:action="@{/register}"
                      charset="utf-8" accept-charset="UTF-8">

                    <div th:replace="fragments/inputField :: inputField(#{user.fullName}, 'fullName', *{fullName}, 'text')"></div>
                    <div th:replace="fragments/inputField :: inputField(#{user.login}, 'login', *{login}, 'text')"></div>
                    <div th:replace="fragments/inputField :: inputField(#{user.password}, 'password', *{password}, 'password')"></div>

                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-10">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                            <a class="btn btn-danger" type="button" onclick="window.location.href='login'">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>